<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Create employee</title>
  </head>
  <body>
    <main>
      <form action="/employees" method="post" id="createEmployee">
        <label for="name"><input name="name" id="name" type="text" value="" placeholder="Enter name"/></label>
        <label for="company"><input id="company" name="company" type="text" value="" placeholder="Enter company name"/></label>
        <button type="submit" form="createEmployee">Go!</button>
        <button type="reset" form="createEmployee">Reset</button>
      </form>
    </main>
  </body>
</html>
