<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Employee info</title>
  </head>
  <body>
    <main>
      <p>Name: <%= name %></p>
      <p>Company: <%= company %></p>
    </main>
  </body>
</html>
